/* .nav {
  display: flex;
  min-width: 30rem;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 4.8rem;
  background: #fff;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: box-shadow 0s ease;
}

.sidebar {
  position: absolute;
  top: 0;
  left: -100%;
  width: 40rem;
  height: 100vh;
  z-index: 999;
  background: #fff;
  display: grid;
  grid-template-rows: auto 1fr auto;
  transition: all 0.5s ease-in-out;
  grid-row-gap: 1.6rem;
}

.sidebar-show {
  left: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar .header {
  padding: 1.6rem 3.2rem;
}

.toggle {
  background: transparent;
  border-color: transparent;
  font-size: 2.4rem;
  fill: #339af0;
  color: #339af0;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.toggle:hover {
  scale: 1.2;
}

main .toggle {
  position: fixed;
  top: 2rem;
  left: 3rem;
  font-size: 2.8rem;
}

.logo {
  width: 6.4rem;
  aspect-ratio: 1/1;
}

.nav .toggle {
  display: none;
}

.links {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.sidebar .links {
  flex-direction: column;
  gap: 0;
}

.links li {
  display: block;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .links span {
  display: inline-block;
}

.sidebar .links a {
  display: flex;
  align-items: flex-end;
  padding: 1.6rem 3.2rem;
  gap: 1.6rem;
  font-size: 2rem;
  font-weight: 400;
  color: #333;
}

.sidebar .links li:hover {
  background: #f4f7ff;
}

.links a span {
  font-size: 2.4rem;
  height: 2.4rem;
  color: #4a63c8;
  opacity: 0.9;
}

.links a {
  font-size: 1.7rem;
  font-weight: 500;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.sidebar .social-links {
  gap: 1.6rem;
}

.social-container {
  justify-self: center;
  margin-bottom: 4.8rem;
}

.social-links svg {
  width: 1.8rem;
  height: 1.8rem;
  fill: #339af0;
  opacity: 0.9;
  transition: all 0.3s ease;
}

.social-links svg:hover {
  opacity: 1;
  fill: #1971c2;
  transform: scale(1.1);
}

.sidebar .social-links svg {
  width: 2.4rem;
  height: 2.4rem;
}

@media (max-width: 692px) {
  .nav {
    display: grid;
    grid-template-columns: auto 20rem;
  }

  .nav .header {
    grid-column: 1/3;
  }

  .links-container {
    position: absolute;
    top: -100vh;
    grid-column: 1/3;
    padding: 1.6rem 4.8rem;
    padding-top: 0;
    background: #fff;
    min-width: 100vw;
    overflow: hidden;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    right: -4.8rem;
    transition: all 0.3s ease-in-out;
    z-index: -1;
  }

  .links-container[data-toggle="true"] {
    top: 100%;
  }

  .links-container[data-toggle="true"].nav {
    box-shadow: none;
  }

  .logo {
    width: 5.2rem;
  }

  .nav .social-links {
    display: none;
  }

  .nav .toggle {
    display: inline-block;
  }

  .nav .links {
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    line-height: 1.5;
    align-items: flex-start;
  }

  .nav-header {
    width: 100%;
  }

  .sidebar {
    width: 100%;
  }
}

@media (max-width: 300px) {
  .links-container {
    left: -4.8rem;
  }
} */

.bg-dark {
  width: 100vw;
  height: 100vh;
  background: #8b33a1;
  display: grid;
  place-items: center;
}
