/* @font-face {
  font-family: "Hanken Grotesk";
  src: url("../fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("woff2-variations");
  font-weight: 400 500 600 700;
  font-stretch: 75% 125%;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --bg-white: #fff;
  --bg-blue: #4dabf7;
  --radius-half: 50%;
  --radius-ten: 1rem;
  --radius-five: 0.5rem;
  --shadow-light: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

body {
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Outfit", sans-serif; */
  /* font-family: "Hanken Grotesk"; */
  font-family: "Overpass", sans-serif;
  /* min-width: 100% !important; */
  /* min-height: 100vh; */
  /* overflow: hidden; */
  color: hsl(0, 0%, 20%);
  background: #e7f5ff;
  /* font-weight: 400; */
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
}

main {
  /* min-height: 100vh; */
  min-height: 100vh;
  display: grid;
  place-items: center;
}

@media (max-width: 375px) {
  body {
    height: 100vh;
    background: #fff;
  }
  main {
    /* display: block; */
    height: 100;
  }
}

/* a {
  text-decoration: none;
  text-transform: capitalize;
  color: #666;
}

ul {
  list-style-type: none;
} */
